body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.e0 {
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0 3px 3px #DDDDDD;
  width: 300px;
  height: 50px;
}

.e0:focus {
  outline: none;
}

.e1 {
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 300px;
    height: 20px;
}
